html {
    font-size: 62.5%;
}

body {
    background-image: url(../images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    max-height: 100vh;
}

.header {
    padding: 2rem 40px;
}

.header .logo {
    margin: 20px 2.6rem ;
    width: 250px;
}

/* ---------------------------------------------- */

main .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .hero .mockups {
    margin-right: 3rem;
    margin-left: 4rem;
    padding: 0px 30px;
    width: auto;
    height: auto;
}

main .hero .text-btn {
    margin-left: 3rem;
    margin-right: 10rem;
    color: #fff;
}

main .hero .text-btn .title {
    font-size: 5rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

main .hero .text-btn .about {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    font-size: 20px;
    font-family: "open sans", sans-serif;
    width: auto;
}

main .hero .text-btn .btn {
    font-size: 20px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    padding: 15px 70px;
    border-radius: 50px;
    background:#fff;
    color: hsl(257, 40%, 49%);
    box-shadow:3px 3px 5px rgba(0, 0, 0, 0.5);
}

main .hero .text-btn .btn:hover {
    background-color: hsl(300, 69%, 71%);
    color: #fff;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.9);
}

.footer {
    display: flex;
    height: auto;
    font-size: 35px;
    justify-content: flex-end;
    background-color: aqua;
}

.footer .social {
    margin: 25px 90px;
}

.footer .social a i {
    margin-left: 20px;
    color: #fff;
    transition: 0.3s;
    justify-content: center;
}
.footer .social a i:hover {
    color:  hsl(300, 69%, 71%);
    font-size: 37px;
}